.Tabs {
  display: flex;
  width: 85vw;
  user-select: none;

  .charts {
    width: 20%;
    cursor: pointer;
    text-align: center;
    padding: 1.2em;
    font-size: 18px;
    transition: all 0.5ms ease-in-out;

    &:after {
      margin-top: 1.2em;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #5a8dee;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
      transition: width 0.3s;
    }
  }

  .incomes {
    width: 20%;
    cursor: pointer;
    text-align: center;
    padding: 1.2em;
    font-size: 18px;
    transition: all 0.5ms ease-in-out;

    &:after {
      margin-top: 1.2em;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #5a8dee;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}
